{% extends "defaultMenu.jinja2" %}
{% block title %}Все мероприятия{% endblock %}
{% block header %}
    <li class="active"><a class="waves-effect waves-light hide-on-small-only " href="/all_tournaments">Все мероприятия</a></li>
    <li><a class="waves-effect waves-light hide-on-small-only" href="/my_tournaments">Мои мероприятия</a></li>
{% endblock %}
{% block center %}
    {% for event in events %}
    <li class="collection-item avatar ">
        <a href="/tournament/{{ event.id }}"><img src="../static/pyramid.png" class="black circle">
        <span class="title black-text">{{ event.name}}</span>
        <p class="black-text">{{ event.city }}</p></a>
    </li>
    {% endfor %}
{% endblock %}