{% extends "defaultMenu.jinja2" %}
{% block title %}Мои мероприятия{% endblock %}
{% block header %}
    <li><a class="waves-effect waves-light hide-on-small-only" href="/all_tournaments">Все мероприятия</a></li>
    <li class="active"><a class="waves-effect waves-light hide-on-small-only " href="/my_tournaments">Мои мероприятия</a></li>
{% endblock %}
{% block nav %}
    <div class="nav-content green" style="height: 48px">
        <div class="container " >
          <a href="/new_tournament" class="tooltipped btn-floating btn-large halfway-fab waves-effect white" data-position="left" data-tooltip="Добавить мероприятие">
            <i class="material-icons green-text">add</i>
          </a>

        </div>

    </div>

{% endblock %}


{% block center %}
    {% for event in events %}
    <li class="collection-item avatar" style="padding-left: 80px">
        <a href="/tournament/{{ event.id }}"><img src="../static/{% if event.image_path %}{{ event.image_path }}{% else %}logo.png{% endif %}" class="circle" style="width: 3.5rem;height: 3.5rem;margin-top: 5px"></a>
        <div style="padding-top: 10px">
            <a href="/tournament/{{ event.id }}"><span class="title black-text" >{{ event.name}}</span></a>
            <p class="black-text" style="font-size: 13px">{{ event.city }}{%if event.date %}{% if event.city %}, с {% else %}С {% endif %}{{ event.date }}{% endif %}{%if event.dateEnd %} по {{ event.dateEnd }}{% endif %}</p>
        </div>
    </li>
    {% endfor %}
{% endblock %}