<!DOCTYPE html>
<html lang="{{request.locale_name}}">
 	<head>
  		<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  		<title>Страница не найдена</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link href="../static/icon.png" rel="shortcut icon" type="image/jpeg">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 	</head>
 	<body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <div class="container">
            <div class="row">
                <div class="col s10 offset-s1 offset-l1 l10 m12 ">
                    <div class="card-panel" style="padding:0;margin: 0">
                        <div style="height: 30px;background-color: lightgray"></div>
                        <div style="height: 350px">
                            <div style="height: 50px;background-color: firebrick">
                                <h6 class="center text-white">Sorry but we couldn’t find this page :(</h6>
                            </div>
                            <div style="height: 300px">
                                <div class="center">
                                    <h1 class="text-long-shadow ">404</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>