{% extends "default.jinja2" %}
{% block title %}{{ event.name }}{% endblock %}
{% block header %}
    <li><a class="waves-effect waves-light hide-on-small-only " href="/all_tournaments">Все мероприятия</a></li>
    <li><a class="waves-effect waves-light hide-on-small-only" href="/my_tournaments">Мои мероприятия</a></li>
{% endblock %}
{% block avatar %}
    <div class="card-content center">
        {% if event.image_path %}
            <img class="circle" style="width: 8rem;height: 8rem" src="../static/{{ event.image_path }}"/>
        {% else %}
            <img class="circle" style="width: 8rem;height: 8rem" src="../static/logo.png"/>
        {% endif %}
        <p style="font-size: 18px;margin-bottom:0">{{ event.name}}</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width ">
        {% if root %}<li class="tab"><a class="active"href="#test1">Организация</a></li>{% endif %}
        <li class="tab"><a href="#test2">Общие сведения</a></li>
        <li class="tab"><a href="#test3">Результаты</a></li>
      </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="card-content grey lighten-4">
        {% block first_tab %}{% endblock %}
        {% block second_tab %}{% endblock %}
        {% block third_tab  %}{% endblock %}
    </div>
    <script src="../static/validationPlayer.js"></script>
    <script src="../static/edit.js"></script>
{% endblock %}