{% extends "default.jinja2" %}
{% block title %}{{ event.name }}{% endblock %}
{% block header %}
    <li><a class="waves-effect waves-light hide-on-small-only " href="/all_tournaments">Все мероприятия</a></li>
    <li><a class="waves-effect waves-light hide-on-small-only" href="/my_tournaments">Мои мероприятия</a></li>
{% endblock %}
{% block nav%}
    <div class="nav-content green" >
        <div class="container ">
          <ul class="tabs tabs-transparent">
              {% if root %}<li class="tab"><a href="#test2">Организация</a></li>{% endif %}
              <li class="tab"><a href="#test1">Общие сведения</a></li>
              <li class="tab"><a href="#test3">Результаты</a></li>
          </ul>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div id="test1" class="col s12 m12 l12 card-panel white" style="margin-top:1%">
        <div >
            <div class="center">
                {% if event.image_path %}
                    <img class="circle" style="width: 8rem;height: 8rem" src="../static/{{ event.image_path }}"/>
                {% else %}
                    <img class="circle" style="width: 8rem;height: 8rem" src="../static/logo.png"/>
                {% endif %}
                <p style="font-size: 18px;margin-bottom:0">{{ event.name}}</p>
                <p style="font-size: 13px;margin-top:0">{{ event.city }}{%if event.date %}{% if event.city %}, с {% else %}С {% endif %}{{ event.date }}{% endif %}{%if event.dateEnd %} по {{ event.dateEnd }}{% endif %}</p>
            </div>
            {% if event.description %}<div class="divider"></div>{% endif %}
            <div>
                <p>{{ event.description }}</p>
                <div class="divider"></div>
                <p>{{ event.building }}{% if event.address %}, {{event.address }}{% endif %}</p>
            </div>
        </div>

    </div>
    {% if root %}
        <div id="test2" class="col s12 m12 l12">
        {% if start %}
        <div class="row" style="margin-top: 1%">
            {% if not list_table %}
                <div class="col l6 m6 s6 card-panel" style="margin-left: 4%;margin-right: 4%;margin-bottom: 3%">
                    <p class="center">Матчей нет</p>
                </div>
            {% endif %}

            {% for column in list_table %}
                <div class="col l6 offset-m1 offset-s1 m10 s10 ">
            {% for table in column%}
                <div class="card ">
                    <div class="row card-content" style="padding-top: 0;padding-bottom: 0px">
                      <form method="post">
                          <span class="card-title center" style="padding-top:10px">СТОЛ {{ table[0].number }}</span>

                          <select name="weight_tournament">
                            {% for tournament in tournaments %}
                                {% if table[0].tournament == tournament %}<option selected>{% else %}<option>
                                {% endif %}{% if tournament.typeId == 2 %}М {% else %}Ж {% endif %}{{ tournament.weight }}кг {% if tournament.hand %}(правая){% else %}(левая){% endif %}
                                </option>
                            {% endfor %}
                             </select>
                          <div name="sub" class="col l12 m12 s12 center" style="display:none">
                              <button class="btn-flat" name="{{ table[0].number }}" type="submit"></button>
                          </div>
                      </form>
                      <div class="col m12 s12 l12">
                          <img src="../static/red.png" class="circle" style="height: 40px">
                          <img src="../static/blue.png" class="circle right" style="height: 40px">
                          {% if not table[1][0] %}
                              <h6 class="center " style="border-top: solid 1px lightgray;padding:10px">Матчей нет</h6>
                          {% endif %}
                      </div>

                      {% if table[1][0]%}
                          <div class="col l12 m12 s12">
                            <h6 class="center">{% if table[1][0][0]!="Финал" %}Тур {% endif %}{{ table[1][0][0] }}</h6>
                          </div>
                          <div name="winner1" class="col m4 l4 s4 ">
                            <input class="activator" type="radio" id="test1{{ table[0].number }}" />
                            <label for="test1{{ table[0].number }}"></label>
                          </div>
                          <div class="col s4 l4 m4 center">Победитель</div>
                          <div name="winner2" class="col m4 l4 s4">
                          <input class="activator" type="radio" id="test2{{ table[0].number }}" />
                          <label class="right" for="test2{{ table[0].number }}"></label>
                        </div>
                          <div name="names" class="col l12 m12 s12">
                            <h6 class="center">
                                <span class="left">{{ table[1][0][1].games[0].middle_name + " " + table[1][0][1].games[0].first_name}}</span>
                                <span class="right">{% if table[1][0][1].games[1] %}{{ table[1][0][1].games[1].middle_name + " " + table[1][0][1].games[1].first_name}}{% endif %}</span>
                            </h6>
                        </div>
                      {% endif %}
                      <form name="formfouls" method="post">
                            {% if table[1][0] %}
                            <div name="fouls1" class="col l4 m4 s4">
                                <h6>ФОЛЫ</h6>
                                {% if table[1][0][1].first_fouls > 0%}
                                    <input name="first_foul_1" type="checkbox" id="one{{ table[0].number }}" checked>
                                {% else %}
                                    <input name="first_foul_1" type="checkbox" id="one{{ table[0].number }}">
                                {% endif %}
                                <label for="one{{ table[0].number }}"></label>

                                {% if table[1][0][1].first_fouls == 2%}
                                    <input name="second_foul_1" type="checkbox" id="two{{ table[0].number }}" checked/>
                                {% else %}
                                    <input name="second_foul_1" type="checkbox" id="two{{ table[0].number }}" />
                                {% endif %}
                                <label for="two{{ table[0].number }}"></label>
                            </div>

                            <div class="col l4 m4 s4 center-align">
                                <h6>Разрыв</h6>
                                {% if table[1][0][1].gap%}
                                    <input name="gap" type="checkbox" id="center{{ table[0].number }}" checked/>
                                {% else %}
                                    <input name="gap" type="checkbox" id="center{{ table[0].number }}" />
                                {% endif %}
                                <label style="padding:10px" for="center{{ table[0].number }}"></label>
                            </div>

                            <div name="fouls2" class="col l4 m4 s4 right-align">
                                <h6 >ФОЛЫ</h6>
                                {% if table[1][0][1].second_fouls > 0%}
                                    <input name="first_foul_2" type="checkbox" id="tree{{ table[0].number }}" checked>
                                {% else %}
                                    <input name="first_foul_2" type="checkbox" id="tree{{ table[0].number }}">
                                {% endif %}
                                <label for="tree{{ table[0].number }}"></label>

                                {% if table[1][0][1].second_fouls == 2%}
                                    <input name="second_foul_2" type="checkbox" id="four{{ table[0].number }}" checked/>
                                {% else %}
                                    <input name="second_foul_2" type="checkbox" id="four{{ table[0].number }}" />
                                {% endif %}
                                <label style="padding:8px" for="four{{ table[0].number }}"></label>
                            </div>
                            {% endif %}
                            <div name="fouls" class="col l12 m12 s12 center" style="display:none">
                                <button class="btn-flat" name="{{ table[0].number }}f" type="submit"></button>
                            </div>
                        </form>
                      {% if table[1][1:] %}
                          <div class="col l12 m12 s12 " style="margin-top:10px;margin-bottom: 10px">
                        <div style="border-bottom: solid 1px lightgray"><h6 class="center">Следующие</h6></div>
                        {% for t in table[1][1:] %}
                            <h6 class="center "><span class="left">{{ t[0] }}</span> {{ t[1].games[0].middle_name + " " + t[1].games[0].first_name}} - {% if t[1].games[1] %}{{t[1].games[1].middle_name + " " + t[1].games[1].first_name}}{% endif %}</h6>
                        {% endfor %}
                        </div>
                      {% endif %}

                    </div>
                    <div class="card-reveal" style="padding:0">
                        <form method="post">
                            <span class="card-title">
                                <div class="col m11 s11 l11"><h6 style="padding: 10px;margin: 0">Подтверждение результата пары</h6></div>
                                <div class="col m1 s1 l1"><i name="close" class="material-icons">close</i></div>
                                <div class="col m12 s12 l12 divider" style="margin: 0;padding: 0"></div>
                                <div class="col m12 s12 l12">
                                    {% if table[1][0] %}
                                <h6 class="center" style="padding: 10px;padding-top:0px">{{ table[1][0][1].games[0].middle_name + " " + table[1][0][1].games[0].first_name}}
                                - {% if table[1][0][1].games[1] %}{{ table[1][0][1].games[1].middle_name + " " +
                                table[1][0][1].games[1].first_name}}{% endif %}</h6>
                                {% endif %}
                                </div>
                            </span>
                            <input style="border:none" name="winner" type="text" class="black-text center" readonly />
                            <div class="col m12 s12 l12 center"><button name="{{ table[0].number }}c" type="submit" class="btn-flat">Подтвердить</button></div>
                        </form>
                    </div>

                </div>

                <!--<form method="post">
                    <div class="col m12 l12 s12 hoverable" style="border: solid 1px lightgray;margin-bottom:10px">
                        <h6 class="center" style="margin-bottom: 5px;padding: 5px">СТОЛ {{ table[0].number }}</h6>
                         <select name="weight_tournament">
                        {% for tournament in tournaments %}
                            {% if table[0].tournament == tournament %}<option selected>{% else %}<option>
                            {% endif %}{% if tournament.typeId == 2 %}М {% else %}Ж {% endif %}{{ tournament.weight }}кг {% if tournament.hand %}(правая){% else %}(левая){% endif %}
                            </option>
                        {% endfor %}
                         </select>

                        <div class="col m12 l12 s12">
                            <img src="../static/red.png" class="circle" style="height: 40px">
                            <img src="../static/blue.png" class="circle right" style="height: 40px">
                            {% if not table[1][0] %}
                                <h6 class="center " style="border-top: solid 1px lightgray;padding:10px">Матчей нет</h6>
                            {% endif %}
                        </div>

                        {% if table[1][0]%}
                        <div class="col l12 m12 s12">
                            <h6 class="center">{% if table[1][0][0]!="Финал" %}Тур {% endif %}{{ table[1][0][0] }}</h6>
                        </div>

                        <div name="winner1" class="col m4 l4 s4 ">
                          <input type="radio" id="test1{{ table[0].number }}" />
                          <label for="test1{{ table[0].number }}"></label>
                        </div>

                        <div class="col s4 l4 m4 center">Победитель</div>

                        <div name="winner2" class="col m4 l4 s4">
                          <input  type="radio" id="test2{{ table[0].number }}" />
                          <label class="right" for="test2{{ table[0].number }}"></label>
                        </div>

                        <div name="names" class="col l12 m12 s12">

                            <h6 class="center">
                                <span class="left">{{ table[1][0][1].games[0].middle_name + " " + table[1][0][1].games[0].first_name}}</span> -
                                <span class="right">{% if table[1][0][1].games[1] %}{{ table[1][0][1].games[1].middle_name + " " + table[1][0][1].games[1].first_name}}{% endif %}</span>
                            </h6>

                        </div>
                        {% endif %}
                        <form>
                            {% if table[1][0] %}
                            <div name="fouls1" class="col l4 m4 s4">
                                <h6>ФОЛЫ</h6>
                                {% if table[1][0][1].first_fouls > 0%}
                                    <input name="first_foul_1" type="checkbox" id="one{{ table[0].number }}" checked>
                                {% else %}
                                    <input name="first_foul_1" type="checkbox" id="one{{ table[0].number }}">
                                {% endif %}
                                <label for="one{{ table[0].number }}"></label>

                                {% if table[1][0][1].first_fouls == 2%}
                                    <input name="second_foul_1" type="checkbox" id="two{{ table[0].number }}" checked/>
                                {% else %}
                                    <input name="second_foul_1" type="checkbox" id="two{{ table[0].number }}" />
                                {% endif %}
                                <label for="two{{ table[0].number }}"></label>
                            </div>

                            <div class="col l4 m4 s4 center-align">
                                <h6>Разрыв</h6>
                                {% if table[1][0][1].gap%}
                                    <input name="gap" type="checkbox" id="center{{ table[0].number }}" checked/>
                                {% else %}
                                    <input name="gap" type="checkbox" id="center{{ table[0].number }}" />
                                {% endif %}
                                <label style="padding:10px" for="center{{ table[0].number }}"></label>
                            </div>

                            <div name="fouls2" class="col l4 m4 s4 right-align">
                                <h6 >ФОЛЫ</h6>
                                {% if table[1][0][1].second_fouls > 0%}
                                    <input name="first_foul_2" type="checkbox" id="tree{{ table[0].number }}" checked>
                                {% else %}
                                    <input name="first_foul_2" type="checkbox" id="tree{{ table[0].number }}">
                                {% endif %}
                                <label for="tree{{ table[0].number }}"></label>

                                {% if table[1][0][1].second_fouls == 2%}
                                    <input name="second_foul_2" type="checkbox" id="four{{ table[0].number }}" checked/>
                                {% else %}
                                    <input name="second_foul_2" type="checkbox" id="four{{ table[0].number }}" />
                                {% endif %}
                                <label style="padding:8px" for="four{{ table[0].number }}"></label>
                            </div>
                            {% endif %}
                            <div name="fouls" class="col l12 m12 s12 center" style="display:none">
                                <button class="btn-flat" name="{{ table[0].number }}f" type="submit"></button>
                            </div>
                        </form>
                        {% if table[1][1:] %}
                        <div class="col l12 m12 s12 " style="border: solid 1px lightgray;margin-top:10px;margin-bottom: 10px">
                        <div style="border-bottom: solid 1px lightgray"><h6 class="center">Следующие</h6></div>
                        {% for t in table[1][1:] %}
                            <h6 class="center "><span class="left">{{ t[0] }}</span> {{ t[1].games[0].middle_name + " " + t[1].games[0].first_name}} - {% if t[1].games[1] %}{{t[1].games[1].middle_name + " " + t[1].games[1].first_name}}{% endif %}</h6>
                        {% endfor %}
                        </div>

                        {% endif %}

                        <div name="sub" class="col l12 m12 s12 center" style="display:none">
                            <button class="btn-flat" name="{{ table[0].number }}" type="submit"></button>
                        </div>
                    </div>
                </form>-->
            {% endfor %}
                </div>

            {% endfor %}
        <!--<a href="#modal1"></a>
        <div id="modal1" class="modal modal-fixed-footer" style="margin-top:10%;height: 280px">
            <form>
                <div class="modal-content">
                    <h5 class="center">Подтверждение результата пары</h5>
                    <p class="center"></p>
                    <input style="border:none" name="winner" type="text" class="black-text" readonly="" />
                </div>
                <div class="modal-footer">
                    <button name="close" type="button" class=" modal-close btn-flat">Отмена</button>
                    <button name="confirm" type="submit" class=" modal-action btn-flat">Подтвердить</button>
                </div>
            </form>
        </div>-->
    {% else %}
     <ul class="collapsible z-depth-0" data-collapsible="accordion">
        <li>
            <div class="collapsible-header{% if message %} active{% endif %}"><i class="material-icons green-text">add</i>Добавить участника</div>
            <div class="collapsible-body white">
                <div class="row">
                    <form id="player" method="post" class="col s12 ">
                        <div class="row">

                            {% if event.typeId == 1 %}
                                <input type="radio" name="sex" value="Женщина" style="display: none" checked>
                            {% endif %}

                            {% if event.typeId == 2 %}
                                <input type="radio" name="sex" value="Мужчина"  style="display: none" checked>
                            {% endif %}

                            <div class="input-field offset-l1 offset-m1 col l5 m5 s12 ">
                                <input id="middle_name" name="middle_name" class="invalid" type="text"/>
                                <label for="middle_name">Фамилия участника</label>
                            </div>

                            <div class="input-field col l5 m5 s12 ">
                                <input id="first_name" name="first_name" class="invalid" type="text"/>
                                <label for="first_name">Имя участника</label>
                            </div>

                            <div class="input-field offset-l1 offset-m1 col l5 m5 s12 ">
                                <input id="last_name" name="last_name" class="invalid" type="text"/>
                                <label for="last_name">Отчество участника</label>
                            </div>

                            <div class="input-field col l5 m5 s12 ">
                                <input id="age" name="age" class="validate" type="date"/>
                                <label class="active" for="age">Дата рождения</label>
                            </div>

                            <div class="input-field offset-l1 offset-m1 col l5 m5 s12 ">
                                <input id="weight" name="weight" class="invalid" type="text"/>
                                <label for="weight">Вес участника</label>
                            </div>

                            <div class="input-field col l5 m5 s12 ">
                                <input id="team" name="team" class="validate" type="text"/>
                                <label for="team">Команда участника</label>
                            </div>

                            {% if event.typeId == 3 %}
                            <div class="input-field offset-l1 offset-m1 col l5 m5 s12 ">
                                <input id="man" type="radio" name="sex" value="Мужчина" checked>
                                <label for="man">Мужчина</label>
                            </div>
                            <div class="input-field offset-l1 offset-m1 col l5 m5 s12 ">
                                <input id="woman" type="radio" name="sex" value="Женщина">
                                <label for="woman">Женщина</label>
                            </div>
                            {% endif %}

                             <div class="input-field col l12 m12 s12 center-align">{{ message }}</div>

                            <div class="input-field col offset-l5 l4 offset-m4 m4 offset-s3 s6">
                               <button class="btn waves-effect waves-light green" type="submit" name="settings">готово</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </li>
        {% if dict_tournaments_man %}
        <li>
            <div class="collapsible-header center">Мужчины</div>
        </li>
        {% endif %}
        {% for weight in dict_tournaments_man %}
        <li>
            <div class="collapsible-header ">
                <i class="material-icons green-text">keyboard_arrow_down</i>Весовая категория {{ weight[0] }}кг.
                {% if weight[1]|length < 3 %}<span class="new badge red">{{ weight[1]|length }}</span>{% else %}
                    <span class="new badge green">{{ weight[1]|length }}</span>{% endif %}
            </div>

            <div class="collapsible-body white">
                <ul class="collection">
                {% for player in weight[1]%}
                <li class="collection-item ">
                    <div class="secondary-content"><input type="button"></div>
                    <h6>{{ player.middle_name }} {{ player.first_name }} {{ player.last_name }}</h6>
                    <h6>Дата рождения: {{ player.age }}</h6>
                    <h6>Вес: {{ player.weight }}кг</h6>
                    <h6>Команда: {{ player.team }}</h6>
                </li>
                {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
        {% if dict_tournaments_woman %}
        <li>
            <div class="collapsible-header center">Женщины </div>
        </li>
        {% endif %}
        {% for weight in dict_tournaments_woman %}
        <li>
            <div class="collapsible-header ">
                <i class="material-icons green-text">keyboard_arrow_down</i>Весовая категория {{ weight[0] }}кг.
                {% if weight[1]|length < 3 %}<span class="new badge red">{{ weight[1]|length }}</span>{% else %}
                    <span class="new badge green">{{ weight[1]|length }}</span>{% endif %}
            </div>
            <div class="collapsible-body white">
                <ul class="collection">
                {% for player in weight[1]%}
                <li class="collection-item ">
                    <h6>{{ player.middle_name }} {{ player.first_name }} {{ player.last_name }}</h6>
                    <h6>Дата рождения: {{ player.age }}</h6>
                    <h6>Вес: {{ player.weight }}кг</h6>
                    <h6>Команда: {{ player.team }}</h6>
                </li>
                {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
    <form id="start" method="post">
    <div class="row center">
        <button class="btn waves-effect waves-light green " type="submit" name="start">Создать стартовые пары</button>
        {% if message2 %}<a name="message2" onclick="Materialize.toast('В каждой весовой категории должно быть минимум 3 участника', 5000)"></a><script>$("[name='message2']").click()</script>{% endif %}
    </div>
    </form>
    {% endif %}
    </div>
    </div>{% endif %}
    <div id="test3" class="col s12 m12 l12 "  style="margin-top:1%">
        <div class="row" style="margin-top: 1%">
            {% for weight in dict_result %}
            <div class="col s6 m6 l6 " >
                <div class="card">
                    <div class="row card-content" style="padding-top: 0;padding-bottom: 0px">
                        <span class="card-title center" style="padding-top:10px">{{ weight }}</span>
                        {% for matchs in dict_result[weight] %}
                            {% if matchs|length > 1%}
                                <div class="center col s12 m12 l12" style="padding-top:5px;padding-bottom:5px;border-top:1px solid lightgray">{% if matchs[0] != "Финал" %}Тур {{ matchs[0] }}{% else %}{{ matchs[0] }}{% endif %}</div>
                            {% endif %}
                            {% for match in matchs[1:] %}
                                <div class="col s12 m12 l12">
                                {% if match.games|length == 0 and match.winner %}
                                    <div class="col s1 m1 l1 tooltipped" data-tooltip="Победитель"><img class="circle" style="height: 1.5rem;width: 1.5rem" src="../static/winner..png"></div>
                                    <div class="col s5 m5 l5">{{ match.winner.middle_name }} {{ match.winner.first_name }}</div>
                                     <div class="col s5 m5 l5 right-align">Свободный слот</div>
                                {% endif %}
                                {% if match.games[0] %}
                                    <div class="col s1 m1 l1 tooltipped" data-tooltip="Победитель">{% if match.winnerId == match.games[0].id %}<img class="circle" style="height: 1.5rem;width: 1.5rem" src="../static/winner..png">{% endif %}</div>
                                    <div class="col s5 m5 l5">{{ match.games[0].middle_name }} {{ match.games[0].first_name }}</div>
                                {% endif %}
                                {% if match.games[1] %}
                                    <div class="col s5 m5 l5 right-align">{{ match.games[1].middle_name }} {{ match.games[1].first_name }}</div>
                                    <div class="col s1 m1 l1 tooltipped" data-tooltip="Победитель">{% if match.winnerId == match.games[1].id %}<img class="circle" style="height: 1.5rem;width: 1.5rem" src="../static/winner..png">{% endif %}</div>
                                {% endif %}
                                </div>
                            {% endfor %}

                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        <div/>
    </div>

    <script src="../static/validationPlayer.js"></script>
{% endblock %}